@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
}

.dark {
  --one: #191a1c;
  --two: #bebebe;
  --three: #2d6a4f;
  --four: #727272;
  --five: #d0d0d0;
  --text-white: #c8c8c8;
}

:root {
  font-family: "Krona One";
  /* cursor: none; */

  /* color palet */
  --one: #bebebe;
  --two: #191a1c;
  --three: #2d6a4f;
  --four: #d0d0d0;
  --five: #d0d0d0;
  --text-white: #0d1b2a;

  /* font size */
  --min-10-2: max(7.5vw, 3rem);
  --default-font: max(0.9vw, 1rem);

  /* width */
  --mobile: 480px;
  --tablets: 768px;
  --laptop: 1024px;
  --desktop: 1200px;

  /* shadow */
  --shadow: 0px 5px 5px var(--two) inset;
  --shadow-outer: 0px 5px 5px var(--two);
  --shadow-outer-2: 0px 5px 5px var(--four);

  /* transition */
  --transform: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  --color: color 0.2s linear, background-color 0.2s linear;

  /* cursor: none; */
  transition: var(--color);
}

/******************* Utility Classes start *******************************************************************/

.comment {
  color: var(--three) !important;
}

.align-right {
  text-align: right;
}

.font-default {
  font-size: var(--default-font);
}

/******************* Utility Classes end *******************************************************************/
/******************* cursor tracker start *******************************************************************/

.cursor {
  position: absolute;
  background-color: var(--three);
  width: 15px;
  height: 15px;
  padding: 2px 5px;
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid var(--one);
  z-index: 9;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  display: none;
}

.cursor-tracker-2 {
  position: absolute;
  background-color: var(--three);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1.5) 0.7s;
  display: none;
  filter :blur(120px);
}

/******************* cursor tracker end*******************************************************************/

body {
  background-color: var(--one);
}

.bg {
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 2;
  /* position: fixed; */
  width: 100%;
  background-color: transparent;
  user-select: none;
}

/******************* page 1 start *******************************************************************/

.page-1 {
  padding: 1rem 3vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* nav start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-white);
}

.dark-mode-btn {
  border: 2px solid var(--two);
  padding: 10px;
  border-radius: 50%;
}

/* nav end */
/* hero start */
.hero-sec {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  color: var(--text-white);
}

.hero-div {
  width: 100%;
  border-radius: 40px;
  background-color: var(--two);
  padding: 0.5rem 5vw;
  overflow: hidden;
  box-shadow: var(--shadow);
  position: relative;
  overflow: hidden;
}

.hero-div h3 {
  position: relative;
  z-index: 3;
  padding-block: 1rem;
  font-size: var(--min-10-2);
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px var(--three);
}

.main-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.new-human,
.new-human-2 {
  line-height: 0.9;
  font-size: max(5vw, 2rem);
  color: transparent;
  -webkit-text-stroke: 1px var(--text-white);
  transition: all 0.3s ease-in-out;
}

.new-human-2 {
  align-self: end;
}

.title {
  align-self: center;
  color: var(--text-white);
  -webkit-text-stroke: 0px var(--text-white);
  font-size: var(--min-10-2);
}

/* hero end */
/* hero footer start */

.page-1-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 1rem;
}

/* hero footer end */
/******************* page 1 end *******************************************************************/
/******************* page 2 start *******************************************************************/

.page-2-heading {
  padding: 1rem 3vw;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--text-white);
}

.project-section {
  padding: 1rem 3vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.project {
  border-radius: 20px;
  padding: max(2.5vw, 2rem) 3vw;
  width: 100%;
  background-color: var(--two);
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  overflow: hidden;
}

.project a {
  position: relative;
  z-index: 4;
  color: var(--one);
  font-size: var(--default-font);
}


/******************* page 2 end *******************************************************************/
/******************* page 3 start *******************************************************************/

.page-3 {
  padding: 2vw 3vw;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  color: var(--text-white);
}

.page-3-heading {
  padding-block: 1rem 3rem;
}

.about-sec {
  width: 100%;
  background-color: var(--two);
  border-radius: 40px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 5vw;
  position: relative;
  overflow: hidden;
}

.about-sec > div {
  position: relative;
  z-index: 2;
  padding-inline: 3rem;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--two);
}

.img-container {
  display: flex;
  align-items: start;
  justify-content: center;
  align-self: start;
  box-shadow: var(--shadow-outer);
  background-color: var(--four);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 3rem;
}

.about-desc div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.about-desc p {
  position: relative;
  color: var(--three);
  letter-spacing: 0;
}

.about-desc p::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -25px;
  top: 4px;
  border-radius: 50%;
  background-color: var(--three);
}

.download-cv {
  all: unset;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--one);
  color: var(--two);
  transition: var(--color);
  box-shadow: var(--shadow-outer);
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  font-size: calc(var(--default-font) - 4px);
}

/******************* page 3 end *******************************************************************/
/******************* page 4 start *******************************************************************/

.page-4 {
  margin-block: 2rem;
  color: var(--text-white);
}

.page-4-heading {
  padding: 1rem 3vw;
}

.skills-container {
  width: 100%;
  padding: 2vw 3vw;
  display: flex;
  gap: 4vw;
  position: relative;
  flex-direction: column;
}

.skills-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-sec > div {
  box-shadow: var(--shadow);
  background-color: var(--four);
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: calc(var(--default-font) - 3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.skills-sec div h3 {
  z-index: 2;
}

.progress {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: var(--two);
  left: -100%;
  border-radius: 40px;
  transition: transform 3s;
}

/******************* page 4 end *******************************************************************/
/******************* page 5 start *******************************************************************/

.page-5 {
  color: var(--text-white);
}

.page-5-heading {
  padding: 1rem 3vw;
}

.page-5-container {
  padding: 2vw 3vw;
}

.input-container {
  box-shadow: var(--shadow);
  padding: 4vw 3vw;
  background-color: var(--four);
  display: flex;
  flex-direction: column-reverse;
  gap: 6vw;
  border-radius: 40px;
  transition: var(--color);
}

.input-container div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6vw;
}

.input-container div input,
.input-container textarea {
  box-shadow: var(--shadow);
  padding: 1rem 1.5rem;
  font-size: calc(var(--default-font) + 3px);
  border-radius: 40px;
  background-color: var(--one);
}

.input-container > *,
.input-container input {
  flex: 1;
  width: 100%;
}

.input-container div button {
  padding: 1rem 1.5rem;
  font-size: calc(var(--default-font)+3px);
  border-radius: 40px;
  background-color: var(--two);
  color: var(--one);
  font-weight: 700;
  letter-spacing: 1px;
}

.input-container textarea,
.input-container div input {
  font-weight: 700;
  background-color: var(--two);
}

.input-container textarea::placeholder,
.input-container div input::placeholder {
  color: var(--three);
  font-weight: 700;
  font-size: calc(var(--default-font) + 4px);
}

.input-container textarea::-ms-input-placeholder,
.input-container div input::-ms-input-placeholder {
  color: var(--three);
  font-weight: 700;
}

/******************* page 5 end *******************************************************************/
/******************* page 6 start *******************************************************************/

.page-6 {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  color: var(--text-white);
}

.page-6-heading {
  padding: 1rem 3vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.links-sec {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
}

.links-sec div {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  background-color: var(--four);
  border-radius: 50%;
  transition: var(--color);
  font-size: var(--default-font);
  padding: 1.5rem;
}

.page-6-msg {
  padding: 1rem 3vw;
  line-height: 1.4;
}

/******************* page 6 end *******************************************************************/
/******************* footer start *******************************************************************/

footer {
  padding: 1rem 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  color: var(--text-white);
}

/******************* footer end *******************************************************************/

@media (width > 768px) {
  .bg-elem-1,
  .bg-elem-2,
  .bg-elem-3,
  .bg-elem-4 {
    display: block;
  }

  .main {
    position: fixed;
  }

  .cursor,
  .cursor-tracker-2 {
    display: block;
  }

  .hero-div {
    background-color: var(--four);
  }

  .main-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .about-sec > div {
    flex-direction: row;
    gap: 4rem;
  }

  .about-sec {
    background-color: var(--four);
  }

  .about-sec:hover .download-cv {
    background-color: var(--one);
    color: var(--two);
  }

  .img-container {
    align-self: start;
  }

  .about-desc {
    width: 35vw;
  }

  .page-1-footer {
    flex-direction: row;
  }

  .project {
    background-color: var(--four);
  }

  .project a {
    color: var(--two);
  }

  .project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .download-cv {
    color: var(--one);
    background-color: var(--two);
  }

  .skills-sec > div {
    padding: 1.5rem 2rem;
  }

  .skills-sec {
    gap: 1.5rem;
  }

  .preview-sec {
    display: block;
  }

  .input-container {
    flex-direction: row;
  }

  .input-container div {
    gap: 2rem;
  }

  .input-container div input,
  .input-container textarea {
    box-shadow: var(--shadow);
    padding: 1.2rem 1.5rem;
  }

  .input-container textarea,
  .input-container div input {
    background-color: var(--four);
  }

  .page-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* transitions */

  .new-human:hover,
  .new-human-2:hover {
    color: var(--text-white);
  }

  .hero-div::after {
    content: "";
    z-index: 1;
    inset: 0;
    background-color: var(--two);
    transform: scaleY(0);
    transition: var(--transform);
    transform-origin: bottom;
    position: absolute;
    border-radius: 40px;
  }

  .hero-div:hover::after {
    transform-origin: bottom;
    transform: scaleY(1);
    transform-origin: top;
  }

  .hero-div::before {
    content: "";
    z-index: 1;
    inset: 0;
    background-color: var(--two);
    transform: scaleY(0);
    transition: var(--transform);
    transform-origin: top;
    position: absolute;
    border-radius: 40px;
  }

  .hero-div:hover::before {
    transform-origin: bottom;
    transform: scaleY(1);
    transform-origin: bottom;
  }

  .project-section {
    grid-template-columns: 1fr 1fr;
  }

  .project:hover a {
    color: var(--one);
  }

  .project::after {
    transition: var(--transform);
    content: "";
    inset: 0;
    background-color: var(--two);
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 1;
    border-radius: 20px;
  }

  .project:hover::after {
    transform: scaleY(1);
    transform-origin: top;
  }

  .project::before {
    transition: var(--transform);
    content: "";
    inset: 0;
    background-color: var(--two);
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1;
    border-radius: 20px;
  }

  .project:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  .about-sec::after {
    content: "";
    width: 250%;
    height: 250%;
    position: absolute;
    background-color: var(--two);
    z-index: 1;
    border-radius: 40px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: var(--transform);
    rotate: 30deg;
  }

  .about-sec:hover::after {
    transform: scaleY(1);
    transform-origin: top;
  }

  .about-sec::before {
    content: "";
    width: 250%;
    height: 250%;
    position: absolute;
    background-color: var(--two);
    z-index: 1;
    border-radius: 40px;
    transform: scaleY(0);
    rotate: -30deg;
    transform-origin: top;
    transition: var(--transform);
  }

  .about-sec:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  .links-sec div:hover {
    background-color: var(--two);
  }

  .links-sec div:hover a i {
    color: var(--one);
  }
}

/* loading */
.loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  background-color: #bebebe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  gap: 1rem;
}

.loading-screen img {
  width: 250px;
}

.loading-screen h2 {
  text-align: center;
}