@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Raleway&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "raleway";
    --text-color: #f9f7f3;
    cursor: none;
}

html {
    background:linear-gradient(200deg, #ffffff1a,#000000e6 80% ),url(assets/caleb-rogers-AtgRjx271ks-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
    width: 100%;
}

/******************* cursor tracker start *******************************************************************/

.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid var(--text-color);
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9;
}
.cursor-tracker {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 3px solid var(--text-color);
    border-radius: 50%;
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    pointer-events: none;
    /* mix-blend-mode: difference; */
    left: -27px;
    top: -28px;
    z-index: 9;
}

/******************* cursor tracker end*******************************************************************/
/******************* page 1 start *******************************************************************/

.page1 {    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15rem;
}

nav {
    padding: 0vw 4vw;
    color: var(--text-color);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .8;
    background: linear-gradient(to bottom, #000000, #ffffff00);
}

nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.hero-sec {
    padding: 0vw 4vw;
    padding-block: 2rem;
    position: relative;
}

.heading-1, .heading-2 {
    font-size: 15vw;
    font-family: "ADLaM Display";
    font-weight: 300;
    color: transparent;
    -webkit-text-stroke: .3vw var(--text-color);
    opacity: .9;
    user-select: none;
    filter: drop-shadow(5px 5px 4px #fff);
}

.heading-2 {
    text-align: right;
    right: 0;
}


.hero-sec i {
    position: absolute;
    font-size: 15vw;
    opacity: .9;
    bottom: 10%;
    left: 4%;
    color: transparent;
    -webkit-text-stroke: .3vw var(--text-color);
    animation: bounce 1.5s infinite cubic-bezier(.72,.72,0,1);
    filter: drop-shadow(5px 5px 4px #fff);
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    40% {
        transform: translateY(-15%);
    }
    60% {
        transform: translateY(0%);
    }
    80% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}

/******************* page 1 end *******************************************************************/
/******************* page 2 start *******************************************************************/

.page2 {
    width: 100%;
    height: 100vh;
}

.intro-heading {
    font-size: 12vw;
    transform: translateX(-30%);
    white-space: nowrap;
    color: var(--text-color);
    opacity: 0.8;
}

.intro-heading-2 {
    transform:translateX(30%);
}

.intro-heading-container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}